.listDiv{
    display: flex;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    font-weight: bold;
    font-size: 16px;
    justify-content: center; 
}

.title{
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    font-weight: bold;
    align-self: center;
    position: relative;
    text-align:center
}

.smallIcon{
    width: 30px;
    height: 30px;
    position: relative;
    right: 10px;
    left: 90%;
    top: 5px;
    z-index: 4;
    opacity: 50%;
}

a:hover{
    cursor: pointer;
}

.editTextArea{
    resize: none;
    max-height: 250px;
    height: 250px;
}

.commentForm{
    width: 100%;
    max-height: 400px;
}


button + button{
    margin-left: 10px;
}