<div class="cardDiv" [@fadeAnimation]="'in'">
    <mat-card class="main">  
        
            <h1>Bejelentkezés</h1>
            <form [formGroup]="form">
                <h2>Email</h2>
                    <mat-form-field>
                        <mat-icon style="transform: scale(1.5); top: 30px; position: relative;">alternate_email</mat-icon>
                        <input matInput formControlName="email" required>
                        <mat-hint style="color: red">{{alertMessage}}</mat-hint>
                    </mat-form-field>
            <h2>Jelszó</h2>
                    <mat-form-field >
                        <mat-icon style="transform: scale(1.5); top: 30px; position: relative;">lock</mat-icon>
                        <input matInput formControlName="password" type="password" required>
                    </mat-form-field>
            </form>
        <div class="buttons">
            <button class="login" [disabled]="form.invalid" mat-raised-button (click)="login()" color="primary" >Bejelentkezés</button>
            <button mat-raised-button color="accent" routerLink='/registration' >Regisztráció</button>
        </div>
    </mat-card>
</div>
