<div class="main">
<div class="tableDiv" [@fadeAnimation]="'in'">
    <table mat-table [dataSource]="dataSource" class="rows" matSort matSortActive="name" matSortDirection="asc" (matSortChange)="sortData($event)">
    <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Termékkód</th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Név</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Szín </th>
      <td mat-cell *matCellDef="let element"> {{element.color}} </td>
    </ng-container>
  
    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Méret </th>
      <td mat-cell *matCellDef="let element"> {{element.size}} </td>
    </ng-container>
  
    <ng-container matColumnDef="madeOf">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Anyag </th>
      <td mat-cell *matCellDef="let element"> {{element.madeOf}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ár</th>
        <td mat-cell *matCellDef="let element"> {{element.price}} HUF </td>
    </ng-container>
  
   <tr mat-header-row class="rows" *matHeaderRowDef="displayedColumns;">
    <tr mat-row class="rows" (click)="getRow(row)" *matRowDef="let row; columns: displayedColumns;" ></tr>
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Nincs adat</td>
    </tr>
  </table>
  <div class="iconDiv" *ngIf="!editActivated && userEmail == 'admin@admin.hu' ">
    <a (click)="editActivated=true"><img class="icon" src="assets/add-icon.png"></a>
  </div>
</div>
 <div *ngIf="editActivated" class="stickyField"> 
    <table style="background: transparent;" mat-table [dataSource]="emptyProduct" matSort>
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Termékkód</th>
            <td mat-cell style="cursor:auto !important;" *matCellDef="let row">
                (Termékkód) 
                <mat-form-field >
                    <input [formControl]="row.validator.get('code')" type="text" matInput>
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Név</th>
            <td mat-cell style="cursor:auto !important;" *matCellDef="let row">
                (Név)
                <mat-form-field >
                    <input [formControl]="row.validator.get('name')" type="text" matInput>
                </mat-form-field>
            </td>
        </ng-container>
    
        <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Szín </th>
            <td mat-cell style="cursor:auto !important;" *matCellDef="let row">
                (Szín)
                <mat-form-field >
                    <input [formControl]="row.validator.get('color')" type="text" matInput>
                </mat-form-field>
            </td>
        </ng-container>
    
        <ng-container matColumnDef="size">
            <th  mat-header-cell *matHeaderCellDef mat-sort-header>Méret </th>
            <td mat-cell style="cursor:auto !important;" *matCellDef="let row">
                (Méret)
                <mat-form-field >
                    <input [formControl]="row.validator.get('size')" type="text" matInput>
                </mat-form-field>
            </td>
        </ng-container>
    
        <ng-container matColumnDef="madeOf">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Anyag </th>
            <td mat-cell style="cursor:auto !important;" *matCellDef="let row">
                (Anyag)
                <mat-form-field >
                    <input [formControl]="row.validator.get('madeOf')" type="text" matInput>
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ár</th>
            <td mat-cell style="cursor:auto !important;" *matCellDef="let row">
                (Ár) HUF
                <mat-form-field >
                    <input [formControl]="row.validator.get('price')" type="text" matInput>
                </mat-form-field> 
            </td>
        </ng-container>
    
        <tr mat-header-row style="display: none;" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row class="mat-elevation-z8" *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
    <div class="buttons">
        <button mat-raised-button color="accent" (click)="cancelAddField()" >Mégsem</button>
        <button mat-raised-button color="primary" [disabled]="formInvalid" (click)="addProduct()">Hozzáadás</button>
    </div>
  </div>
</div>